<div class="search-results">
  <% if @videos.present? %>
    <ul>
      <% @videos.each do |video| %>
        <li>
          <h4><%= video.title %></h4>
          <p>Duration: <%= video.duration %></p>
          <p>Duration Category: <%= video.duration_category %></p>
          <iframe width="560" height="315" src="<%= video.embed_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <%= button_to "Add to favorites", user_video_path(video.id), method: :post %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Please enter search criteria.</p>
  <% end %>
</div>
