<div class="search-results">
  <% if @videos.present? %>
    <% @videos.each do |video| %>
      <%= video.title %>
      <%= video.url %>
      <%= video.thumbnail %>
      <%= button_to "Add to favorites", user_video_path(video.id), method: :post %>
      <%= binding.pry %>
      <!-- other things we want -->
    <% end %>
  <% else %>
    Please enter search criteria.
  <% end %>
</div>
