<!-- app/views/users/show.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/logged_in_header' %>
  <style>
    .profile-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <div class="user-info">
    <h1>Welcome, <%= @user.name %>!</h1>
    <img src="<%= @user.image %>" alt="Profile Image" class="profile-image">
    <p>Email: <%= @user.email %></p>
  </div>

  <div class="search-form">
    <%= render partial: 'search_form' %>
  </div>

  <div class="search-results">
    <%= render partial: 'search/index' %>
  </div>

  <div class="favorite-videos">
    <h2>Favorite Videos</h2>
    <ul>
      <% @favorite_videos.each do |video| %>
        <li>
          <%= video.title %> - <a href="<%= video.url %>">Watch</a>
          <%= button_to 'Remove from favorites', user_video_path(video.id), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</body>
</html>
