<li id="video_<%= video.id %>">
  <h3><%= video.title %></h3>
  <p>Duration: <%= video.duration %></p>
  <p>Category: <%= video.duration_category %></p>
  <iframe width="560" height="315" src="<%= video.embed_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <%= button_to 'Remove from favorites', user_video_path(@user.id, video.id), method: :delete, remote: true %>

  <button onclick="document.getElementById('pom_event_form_<%= video.id %>').style.display='block'">Create Pom Event</button>

  <div id="pom_event_form_<%= video.id %>" style="display:none;">
    <%= form_with url: create_pom_event_user_video_path(@user.id, video.id), method: :post, local: true, data: { turbo: false }, id: "pom_event_form_#{video.id}" do |f| %>
      <div>
        <%= f.label :start_time, "Start Time" %>
        <%= f.datetime_local_field :start_time, value: Time.now.strftime("%Y-%m-%dT%H:%M") %>

      </div>
      <div>
        <%= f.hidden_field :summary, value: "Pomodoro Event" %>
        <%= f.hidden_field :video_duration, value: video.duration %>
        <%= f.hidden_field :description, value: video.url %>
      </div>
      <%= f.submit "Create Event", onclick: "submitFormAndOpenNewWindow(event, this.form)" %>
    <% end %>
  </div>
</li>

<script>
  function submitFormAndOpenNewWindow(event, form) {
      event.preventDefault();
      
      const formData = new FormData(form);
      const url = form.action;

      fetch(url, {
        method: form.method,
        body: formData,
        headers: {
          'Accept': 'application/javascript',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.event_link) {
          window.open(data.event_link, '_blank', 'width=800,height=600');
        } else {
          alert('Failed to create PomPlanner event.');
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Failed to create PomPlanner event.');
      });
  }
</script>
